
DB_USER=
DB_PASSWORD=
DB_SERVER=
DB_INSTANCE=
DB_DATABASE=
DB_PORT=

PORT=

NODE_ENV=
ALLOW_START_WITHOUT_DB=false

CORE_BACKEND_URL=http://127.0.0.1:8000
CORE_BACKEND_API_KEY=key_zdwXIaxXxTKBPEiTVtM9TTaEeXWLB8je
